<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <div
    fxLayout="column"
    fxLayoutAlign="flex-start flex-end"
    style="width: 300px"
  >
    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Name</mat-label>
      <input matInput inputmode="text" type="text" formControlName="name" />
      <mat-error *ngIf="!!(form.get('name'))?.errors?.['required']">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Code name</mat-label>
      <input matInput inputmode="text" type="text" formControlName="codeName" />
      <mat-error *ngIf="!!(form.get('codeName'))?.errors?.['required']">
        Code name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Select subjects</mat-label>
      <mat-select formControlName="subjects" multiple>
        <mat-option *ngFor="let subject of opSubjects" [value]="subject.id">
          {{ subject.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions fxFlexAlign="flex-end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Submit
      </button>
    </div>
  </div>
</form>
