<h1>Subject Execution edit</h1>
<h1>SUBJECT: {{subjectName}}</h1>
<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
    <div fxLayout="column" fxLayoutAlign="flex-start flex-end" style="width: 300px">
        <mat-form-field appearance="standard" fxFlexFill>
            <mat-label>Place</mat-label>
            <input matInput inputmode="text" type="text" formControlName="place">
            <mat-error *ngIf="!!(form.get('place'))?.errors?.['required']">
                Place is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlexFill>
            <input matInput type="time" formControlName="time" />
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlexFill>
            <mat-label>Select weekday</mat-label>
            <mat-select formControlName="weekDay">
                <mat-option *ngFor="let weekday of opWeekDays" [value]="weekday">
                    {{ weekday }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlexFill>
            <mat-label>Select teacher</mat-label>
            <mat-select formControlName="teacherIds" [(ngModel)]="existentTeachers" multiple>
                <mat-option *ngFor="let teacher of opTeachers" [value]="teacher.id">
                    {{ teacher.user.firstName + " " + teacher.user.lastName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard" fxFlexFill>
            <mat-label>Select pre-exam-activities</mat-label>
            <mat-select formControlName="preExamActivityIds" [(ngModel)]="existentPreExamActivities" multiple>
                <mat-option *ngFor="let ex of opPreExamActivities" [value]="ex.id">
                    {{ ex.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div mat-dialog-actions fxFlexAlign="flex-end">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
    </div>
</form>