version: "3.7"

networks:
  eobra:
    name: eobra

services:
  postgres:
      image: postgres:11
      container_name: postgres
      ports:
        - "5432:5432"
      environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
        - POSTGRES_DATABASES=postgres-db-lb
      volumes:
        - postgres:/var/lib/postgresql/data
        - ./init-citext-extension.sh:/docker-entrypoint-initdb.d/init-citext-extension.sh
      networks:
        eobra:
          aliases:
            - postgres
volumes:
  postgres:
    driver: local


