<h1 mat-dialog-title>Pre-exam activity edit</h1>
<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
    <div fxLayout="column" fxLayoutAlign="flex-start flex-end" style="width: 300px">
      <mat-form-field appearance="standard" fxFlexFill>
        <mat-label>Name</mat-label>
        <input matInput inputmode="text" type="text" formControlName="name">
        <mat-error *ngIf="!!(form.get('name'))?.errors?.['required']">
          Name is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="standard" fxFlexFill>
        <mat-label>Points</mat-label>
        <input matInput inputmode="numeric" type="number" formControlName="points">
        <mat-error *ngIf="!!(form.get('points'))?.errors?.['required']">
          Points are required
        </mat-error>
      </mat-form-field>
  
      <div mat-dialog-actions fxFlexAlign="flex-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
      </div>
    </div>
  </form>
  
