<h1 mat-dialog-title>Subject edit</h1>
<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <div fxLayout="column" fxLayoutAlign="flex-start flex-end" style="width: 300px">
    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>First name</mat-label>
      <input matInput inputmode="text" type="text" formControlName="firstName">
      <mat-error *ngIf="!!(form.get('firstName'))?.errors?.['required']">
        First name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Last name</mat-label>
      <input matInput inputmode="text" type="text" formControlName="lastName">
      <mat-error *ngIf="!!(form.get('lastName'))?.errors?.['required']">
        Last name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Identification number</mat-label>
      <input matInput inputmode="text" type="text" formControlName="identificationNumber">
      <mat-error *ngIf="!!(form.get('identificationNumber'))?.errors?.['required']">
        Identification number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Transcript number</mat-label>
      <input matInput inputmode="text" type="text" formControlName="transcriptNumber">
      <mat-error *ngIf="!!(form.get('transcriptNumber'))?.errors?.['required']">
        Transcript number is required
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%">
      <div mat-dialog-actions>
        <button mat-raised-button color="secondary" type="button" (click)="dialogRef.close('closed')">Close</button>
      </div>
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
      </div>
    </div>
  </div>
</form>
