<div *ngIf="existentDate == null; else showDate">
    <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
        <div fxLayout="column" fxLayoutAlign="flex-start flex-end" style="width: 300px">
            <mat-form-field appearance="standard" fxFlexFill>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="date" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <div mat-dialog-actions fxFlexAlign="flex-end">
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
<ng-template #showDate>
    <div fxLayout="column" fxLayoutAlign="flex-start" style="width: auto">
        <div>
            <h2>Exam is already scheduled for date: {{ existentDate }}</h2>
        </div>
    </div>
</ng-template>