<mat-drawer-container class="sidenav">
  <mat-drawer mode="side" opened class="sidenav-drawer">
    <div>
      <a mat-button [routerLink]="'subjects'" [routerLinkActive]="'is-active'"
        >Subjects</a
      >
    </div>
    <div>
      <a
        mat-button
        [routerLink]="'study-programs'"
        [routerLinkActive]="'is-active'"
        >Study programs</a
      >
    </div>
    <div>
      <a mat-button [routerLink]="'students'" [routerLinkActive]="'is-active'"
        >Students</a
      >
    </div>
    <div>
      <a
        mat-button
        [routerLink]="'pre-exam-activities'"
        [routerLinkActive]="'is-active'"
        >Pre-exam activities</a
      >
    </div>
    <div>
      <a
        mat-button
        [routerLink]="'subject-executions'"
        [routerLinkActive]="'is-active'"
        >Subject executions</a
      >
    </div>
    <div>
      <a mat-button [routerLink]="'profesors'" [routerLinkActive]="'is-active'"
        >Profesors</a
      >
    </div>
    <div>
      <a mat-button [routerLink]="'payments'" [routerLinkActive]="'is-active'"
        >Payments</a
      >
    </div>
    <div>
      <a
        mat-button
        [routerLink]="'exam-periods'"
        [routerLinkActive]="'is-active'"
        >Exam Periods</a
      >
    </div>
    <div>
      <a mat-button [routerLink]="'logout'" [routerLinkActive]="'is-active'"
        >LOGOUT</a
      >
    </div>
    <div>
    <a mat-button [routerLink]="'logout'" [routerLinkActive]="'is-active'">LOGOUT</a>
    </div>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
