<div *ngIf="isCompleted == false; else showResults">
    <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
        <table>
            <thead>
                <th>Transcript number</th>
                <th>Pre exam activities</th>
                <th>Enter final score(summed with pre-exam acts.)</th>
            </thead>
            <tbody>
                <tr *ngFor="let student of opEnrolledStudents">
                    <td>{{ student.transcriptNumber }}</td>
                    <td>{{ student.preExamActivitiesSum }}</td>
                    <td>
                        <mat-form-field appearance="standard" style="width: auto;">
                            <input matInput inputmode="numeric" type="number" [formControlName]="student.studentId" />
                            <mat-error *ngIf="!!(form.get(student.studentId))?.errors?.['required']">
                                Points are required
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                        Submit
                    </button>
                </div>
            </tfoot>
        </table>
    </form>
</div>
<ng-template #showResults>
    <div fxLayout="column" fxLayoutAlign="flex-start flex-end" style="width: auto">
        <table>
            <thead>
                <th>Transcript number</th>
                <th>Student score</th>
            </thead>
            <tbody>
                <tr *ngFor="let obj of opResults">
                    <td>{{ obj.student.transcriptNumber }}</td>
                    <td>{{ obj.score }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>