<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <div
    fxLayout="column"
    fxLayoutAlign="flex-start flex-end"
    style="width: 300px"
  >
    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>First name</mat-label>
      <input
        matInput
        inputmode="text"
        type="text"
        formControlName="firstName"
      />
      <mat-error *ngIf="!!(form.get('firstName'))?.errors?.['required']">
        First name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Last name</mat-label>
      <input matInput inputmode="text" type="text" formControlName="lastName" />
      <mat-error *ngIf="!!(form.get('lastName'))?.errors?.['required']">
        Last name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Identification number</mat-label>
      <input
        matInput
        inputmode="text"
        type="text"
        formControlName="identificationNumber"
      />
      <mat-error
        *ngIf="!!(form.get('identificationNumber'))?.errors?.['required']"
      >
        Identification number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Transcript number</mat-label>
      <input
        matInput
        inputmode="text"
        type="text"
        formControlName="transcriptNumber"
      />
      <mat-error *ngIf="!!(form.get('transcriptNumber'))?.errors?.['required']">
        Transcript number is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Email</mat-label>
      <input matInput inputmode="email" type="email" formControlName="email" />
      <mat-error *ngIf="!!(form.get('email'))?.errors?.['required']">
        Email is required
      </mat-error>
      <mat-error *ngIf="!!(form.get('email'))?.errors?.['email']">
        Invalid email format
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" fxFlexFill>
      <mat-label>Current year</mat-label>
      <input
        matInput
        inputmode="number"
        type="number"
        formControlName="currentYear"
      />
      <mat-error *ngIf="!!(form.get('currentYear'))?.errors?.['required']">
        Current year is required
      </mat-error>
      <mat-error *ngIf="!!(form.get('currentYear'))?.errors?.['pattern']">
        Only whole numbers allowed
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions fxFlexAlign="flex-end">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Submit
      </button>
    </div>
  </div>
</form>
