<div>
    <ng-template #totalTemplate let-total> Total {{total}} items</ng-template>
    <nz-table
      #dataTable
      [nzData]="dataSet.value"
      nzShowPagination
      [nzFrontPagination]="false"
      [nzPageIndex]="pageIndex.value"
      [nzPageSize]="pageSize.value"
      [nzTotal]="total.value"
      [nzVirtualItemSize]="total.value"
      (nzQueryParams)="queryParamsChange($event)"
      [nzPageSizeOptions]="[1, 5, 10, 25, 50]"
      [nzShowSizeChanger]="true"
    >
      <thead>
      <tr>
        <th>ID</th>
        <th>Code name</th>
        <th>Full name</th>
        <th>Subjects</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of dataTable.data">
        <td>{{i.id}}</td>
        <td>{{i.codeName}}</td>
        <td>{{i.name}}</td>
        <td>{{i.subjects}}</td>
        <!-- <td>
          <button (click)="editStudyProgram(i.id)" mat-raised-button color="primary" type="button">Edit</button>
        </td>
        <td>
          <button (click)="deleteStudyProgram(i.id)" mat-raised-button color="secondary" type="button">Delete</button>
        </td> -->
      </tr>
      </tbody>
    </nz-table>
  </div>
  